@import "tailwindcss";

:root {
  --background: var(--tg-theme-bg-color, #ffffff);
  --text: var(--tg-theme-text-color, #000000);
  --hint-color: var(--tg-theme-hint-color, #999999);
  --button-bg: var(--tg-theme-button-color, #2481cc);
  --button-text: var(--tg-theme-button-text-color, #ffffff);
}

body {
  background-color: var(--background);
  color: var(--text);
  overscroll-behavior-y: none;
}